/* huge background image ...  so 2010...   */
/*html {
	background: url(images/FH030009.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

/*   color palette maybe   */
 /*======== HA I TOSSED IT ALL OUT +++++++++*/
/* -----------------------------------------
dd3333  h1  june 5   red-orange (flat)
886689  h2  june 5   lavender-y
29c		body    june 5    sky blue
222		slogan bg  june 5  vy dark gray

e23d54   light red : wptest.io 
006dcc	 blue
c09853   yellow-beige
e23d54		pink

button1 green #449953;
button2 red #dd3333;
button3  strawberry #c43353;
button4 lavender #886689;

---------------------------------------------
*/

* {
	margin: 0;
	padding: 0;
	/*font-family: 'Nunito', verdana, arial, sans-serif;*/
	font-family: 'Lato', verdana, arial, sans-serif;
	font-weight: 300;

}

:focus {
	outline-style: solid;
}

body {
	background-color: #eee; 
	/* #4389E6  */
}

/*h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	}*/

h1 {
	display: inline;
	padding: 20;
	/*font-family: 'Exo 2', verdana, arial, sans-serif;*/
	font-family: 'Lato', Verdana, Arial, sans-serif;
	font-size: 30px;
	font-weight: 300;
	/*color: #bd0333;*/
	color: #333;
	letter-spacing: .2em;
	/*color: #bd0333;*/
	/*color: #dd3333; #992359; */
	/*font-style: italic;*/
	text-align: center;
}

h2 {
	font-family: 'Lato', verdana, arial, sans-serif;
	/*font-family: 'Nunito', verdana, arial, sans-serif;*/
	font-size: 20px;
	letter-spacing: .02em;
	word-spacing: .2em;
	color: #56A8E0;
	/*text-align: left;*/
	/*background-color: lightblue;*/
	/*background: linear-gradient(top, #4389E6, lightblue);*/
	/*background: -webkit-linear-gradient(top, #4389E6, lightblue);*/
	/*background: -moz-linear-gradient(top, #4389E6, lightblue);*/
	/*border-radius: 1px;*/
}
p {
	font-family: 'Lato', verdana, arial, sans-serif;
	/*font-family: 'Nunito', verdana, arial, sans-serif;*/
	font-size: 20px;
	margin-bottom: 10px;
	margin-left: 13px;
}

a {text-decoration: none;}


li {
	text-align: left;
	list-style-type: none;
}

/* ========== HEADER ================ */

header {
	height: 110px;
	margin: 0 auto;
	/*background-color: #bbb;*/
	/*background-color: #FDE3A7;*/
	/*background-color: #ffe5c9;*/
	background-color: #4FEDD8;   /* turquoise */
	background-color: #4FdDD8;   /* new turquoise */
	/*background-color: #eee;*/
	/*background-color: #F02845;*/
	/*background-color: #fB741B;*/
	/*background: #52DFF7;*/
	/*background: #06CBED;*/

}



.header-content {
	height: 100px;
	width: 70%;
	margin: 0 auto;
	padding: 30px;
	clear: both;

}

/*#header-extra {
	width: 300px;
	height: 20px;
	text-align: center;
	float: right;
}*/

/* ========== SLOGAN ================ */

.slogan {
	background: #222;
	height: 100px;
	width: 100%;
	display: table;
}

.slogan-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #eee;
	/*padding-left: 110px;*/
}

.slogan-content span {
	color: #eee;
	font-size: 16px;
	padding-left: 10px;
}

/* ========== LINKS BUTTONS ================ */

.links-container {
	margin: 0 auto;
	width: 80%;
	height: 240px;
	background: inherit;
	/*border: solid 2px black;*/

}

.link-row-1 {
	margin: 30px auto 10px auto;
	clear: both;
}

.link-row-2 {
	margin: 10px auto 20px auto;
	clear: both;
}


.link-col {
	width: 24%;
	margin: auto;
	display: inline-block;
	/*border: dashed 1px yellow;*/
}


.link {
	margin: 10px auto;
	padding: 7px 10px;
	height: 60px;
	width: 180px;
	text-align: center;
	/*border: 1px solid #bbb;*/
	border-radius: 2px;
	background: #c43353;
	display: table;
	/*border: solid 2px white;*/
}

.link {
	transition: .4s;
}
.link {
	opacity: 1;
}
.link:hover {
	opacity: 0.6;
}

.link a {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Lato', verdana, arial, sans-serif;
	/*font-family: 'Nunito', verdana, sans-serif;*/
	font-size: 16px;
	letter-spacing: .02em;
	font-style: normal;
	color: #eee;
	line-height: 1.3em;
	text-decoration: none;
}

/*green*/
.color1 {
	background: #447953;
}

/*red*/
.color2 {
	background: #bd0333;
}

/*pink*/
.color3 {
	background: #c43363;
}

/*blue*/
.color4 {
	/*background: #56A8E0; */
	background: #4698e0; /* ACTIVE */
}

/*orange*/
.color5 {
	background: #f48330;
}

/*purple*/
.color6 {
	background: #886689;
}

.stripe {
	display: none;
	background: #f48330;
	/*background: #FDE3A7;*/
	height: 15px;
}

/* ========== RESUME LINK ================ */

.resume-container {
	margin: 20px auto;
}

.resume-content {
	margin: 0 auto;
	width: 66.5%;
	/*text-align: center;*/
}

#resume-link {
	font-size: 20px;
	/*color: #56A8E0;*/
	color: #bd0333;
	margin: 10px 10px 30px 10px;
	padding: 2px 6px;
	border: solid #fff 2px;
	border-radius: 2px;

}

#resume-link {
	transition: .4s;
}
#resume-link {
	background: inherit;
}
#resume-link:hover {
	background: #fff;
}
/* ========== MUSIC LINK ================ */

.music-container {
	margin: 20px auto;
}

.music-content {
	margin: 0 auto;
	width: 66.5%;
	/*text-align: center;*/
}

#music-link {
	font-size: 18px;
	/*color: #56A8E0;*/
	color: #4698e0;
	/*color: #555;*/
	margin: 10px 10px 30px 10px;
	padding: 2px 6px;
	border: solid white 2px;
	border-radius: 2px;

}

#music-link {
	transition: .4s;
}
#music-link {
	background: inherit;
}
#music-link:hover {
	background: #fff;
}

/* ========== FOOTER ================ */

footer {
	height: 200px;
	margin: 0 auto;
	padding: 30px;
	clear: both;
	background: #aaa;
}

.footer-container {
	width: 70%;
	margin: 0 auto;

}

.copyright p {
	font-size: 16px;
}


/*  =========== MEDIA QUERY =============  */

@media screen and (min-width: 1420px) {
	.links-container {
		width: 70%;
	}
	

}

@media screen and (max-width: 1035px) {

	/*h1 { font-size: 38px; }*/

	/*h2 { font-size: 22px; }*/

	header { height: 120px; }

	.slogan { height: 55px;}

	.slogan-content span {
	display: none;
	}


	h1 { font-size: 30px; }

	h2 { font-size: 20px; }

	p { margin-left: 3px; }


	.links-container {
		width: 100%;
		height: auto;
	}

	.link-col {
		display: block;
		float: none;
		width: 100%;
	}

	.link-col:last-child {float: none;}

	.link {
		margin: 20px auto;
		padding: 7px 0;
		height: 45px;
		width: 260px;
	}

	footer {
		height: auto;
	}
}

@media screen and (max-width: 420px) {

	header { height: 90px; }

	.slogan { height: 40px;}


	h1 { font-size: 24px; }

	h2 { font-size: 18px; }

	.link {
		margin: 5px auto;
		padding: 5px;
		height: 40px;
	}

	#music-link {
		font-size: 14px;
	}

}
