/*html {
	background: url(images/FH030009.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

body {
	background-color: #4389E6 ; /*ea3f2c; d44;*/
	/*background: url(images/FH030009.jpg) no-repeat fixed; */
	/*background-size: 2000px 1900px;*/
}
h1 {
	font-family: verdana, sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: #992359;
	font-style: italic;
	margin-bottom: 60px;
	position: absolute;
	top: 10px;
	left: 50px;
	width: 20%;
	min-width: 400px;
	height: 80px;
	padding: 20px;
	text-align: center;
	background-color: lightblue;
	background: linear-gradient(top, #4389E6, lightblue);
	background: -webkit-linear-gradient(top, #4389E6, lightblue);
	background: -moz-linear-gradient(top, #4389E6, lightblue);
	border-radius: 1px;
}
h2 {
	font-family: verdana, sans-serif;
	font-size: 32px;
	font-style: italic;
	color: #793369;
	position: absolute;
	top: 185px;
	left: 150px;
	width: 14%;
	min-width: 240px;
	height: 80px;
	padding: 20px;
	text-align: center;
	background-color: lightblue;
	background: linear-gradient(top, #4389E6, lightblue);
	background: -webkit-linear-gradient(top, #4389E6, lightblue);
	background: -moz-linear-gradient(top, #4389E6, lightblue);
	border-radius: 1px;
}
p {
	font-family: verdana, sans-serif;
	font-size: 20px;
	margin-bottom: 30px;
}
a {
	font-family: verdana, sans-serif;
	font-size: 22px;
	font-style: italic;
	color: #333;
	line-height: 1.9em;
}
a:hover {
	color: red;
	font-size: 24px;
}
li {
	text-align: left;
	list-style-type: none;
}
/*#content {*/
	position: absolute;
	top: 30px;
	left: 10%;
	/*margin: 0px auto;*/
	margin-top: 120px;
	width: 30%;
	min-width: 400px;
	/*max-width: 700px;*/
	height: 400px;
	padding: 20px;
	text-align: left;
	background-color: lightblue;
	background: linear-gradient(top, #9c54fc, lightblue);
	background: -webkit-linear-gradient(top, #9c54fc, lightblue);
	background: -moz-linear-gradient(top, #9c54fc, lightblue);
	border-radius: 50px;

}
#pad {
	height: 40px;
}
#links {
	border-color: lightblue;
	position: absolute;
	top: 185px;
	left: 500px;
	width: 25%;
	min-width: 490px;
	height: 350px;
	min-height: 20%;
	padding: 10px;
	padding-top: 20px;
	text-align: center;
	background-color: lightblue;
	background: linear-gradient(top, #4389E6, lightblue);
	background: -webkit-linear-gradient(top, #4389E6, lightblue);
	background: -moz-linear-gradient(top, #4389E6, lightblue);
	border-radius: 1px;
}
#extra {
	font-family: verdana, sans-serif;
	font-size: 20px;
	color: #6f4f4f;
	border-color: lightblue;
	position: absolute;
	top: 80%;
	left: 70%;
	width: 11%;
	min-width: 120px;
	height: 50px;
	min-height: 7%;
	padding: 10px;
	/*padding-top: 100px;*/
	text-align: center;
	/*background-color: lightblue;*/
	background: linear-gradient(top, #cd94ff, lightblue);
	background: -webkit-linear-gradient(top, #cd94ff, lightblue);
	background: -moz-linear-gradient(top, #cd94ff, lightblue);
	border-radius: 1px;

}