/* huge background image ...  so 2010...   */
/*html {
	background: url(images/FH030009.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

/*   color palette maybe   */
 /*======== HA I TOSSED IT ALL OUT +++++++++*/
/* -----------------------------------------
dd3333  h1  june 5   red-orange (flat)
886689  h2  june 5   lavender-y
29c		body    june 5    sky blue
222		slogan bg  june 5  vy dark gray

e23d54   light red : wptest.io 
006dcc	 blue
c09853   yellow-beige
e23d54		pink

button1 green #449953;
button2 red #dd3333;
button3  strawberry #c43353;
button4 lavender #886689;

---------------------------------------------
*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', verdana, arial, sans-serif;

}

body {
	/*padding: 0;*/
	/*margin: 0;*/
	background-color: #ccc; 
	/* #4389E6  */
}


h1 {
	display: inline;
	padding: 20;
	font-family: 'Exo 2', verdana, arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: #bd0333;
	/*color: #dd3333; #992359; */
	/*font-style: italic;*/
	text-align: center;
}

h2 {
	font-family: 'Nunito', verdana, arial, sans-serif;
	font-size: 28px;
	/*font-style: italic;*/
	color: #886689;
	text-align: center;
	/*background-color: lightblue;*/
	/*background: linear-gradient(top, #4389E6, lightblue);*/
	/*background: -webkit-linear-gradient(top, #4389E6, lightblue);*/
	/*background: -moz-linear-gradient(top, #4389E6, lightblue);*/
	/*border-radius: 1px;*/
}
p {
	font-family: 'Nunito', verdana, arial, sans-serif;
	font-size: 20px;
	margin-bottom: 30px;
}

a {text-decoration: none;}

a:hover {
	color: red;
	font-size: 22px;
}

li {
	text-align: left;
	list-style-type: none;
}

/* ========== HEADER ================ */

header {
	height: 110px;
	margin: 0 auto;
	background-color: #aaa;

}



.header-content {
	height: 100px;
	width: 70%;
	margin: 0 auto;
	padding: 30px;
	clear: both;

}

/*#header-extra {
	width: 300px;
	height: 20px;
	text-align: center;
	float: right;
}*/

/* ========== SLOGAN ================ */

.slogan {
	background: #222;
	height: 70px;
	width: 100%;
	display: table;
}

.slogan-content {
	display: table-cell;
	vertical-align: middle;
}

/* ========== LINKS BUTTONS ================ */

.links-container {
	margin: 0 auto;
	width: 60%;
	height: 240px;
	background: #ccc;
	/*border: solid 2px black;*/

}

.row {
	margin: 40px auto;
	clear: both;

}

.link-col {
	width: 24%;
	margin: auto;
	display: inline-block;
	/*border: dashed 1px yellow;*/
}


.link {
	margin: 10px auto;
	padding: 7px 0;
	height: 54px;
	width: 140px;
	text-align: center;
	/*border: 1px solid #bbb;*/
	border-radius: 4px;
	background: #c43353;
	display: table;
	/*border: solid 2px white;*/
}

.link:hover {
	opacity: 0.6;
}

.link a {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Nunito', verdana, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #ccc;
	line-height: 1.3em;
	text-decoration: none;
}

/*green*/
.color1 {
	background: #447953;
}

/*red*/
.color2 {
	background: #bd0333;
}

/*pink*/
.color3 {
	background: #c43363;
}

/*purple*/
.color4 {
	background: #886689;
}

/*orange*/
.color5 {
	background: #f48330;
}

.stripe {
	background: #f48330;
	height: 5px;
}

/* ========== RESUME LINK ================ */

.resume-container {
	margin: 20px auto;
}

.resume-content {
	margin: 0 auto;
	width: 66.5%;
	/*text-align: center;*/
}

#resume-link {
	font-size: 20px;
	color: #886689;
	margin: 10px 10px 30px 10px;
	padding: 2px 6px;
	border: solid white 1px;
	border-radius: 4px;

}

#resume-link:hover {
	background: #fff;
}
/* ========== MUSIC LINK ================ */

.music-container {
	margin: 20px auto;
}

.music-content {
	margin: 0 auto;
	width: 66.5%;
	/*text-align: center;*/
}

#music-link {
	font-size: 18px;
	color: #886689;
	margin: 10px 10px 30px 10px;
	padding: 2px 6px;
	border: solid white 1px;
	border-radius: 4px;

}

#music-link:hover {
	background: #fff;
}

/* ========== FOOTER ================ */

footer {
	height: 200px;
	margin: 0 auto;
	padding: 30px;
	clear: both;
	background: #888;
}

.footer-container {
	width: 70%;
	margin: 0 auto;

}

.copyright p {
	font-size: 16px;
}


/*  =========== MEDIA QUERY =============  */

@media screen and (max-width: 999px) {

	/*h1 { font-size: 38px; }*/

	/*h2 { font-size: 22px; }*/

	header { height: 120px; }

	.slogan { height: 55px;}

	h1 { font-size: 40px; }

	h2 { font-size: 24px; }


	.links-container {
		width: 100%;
		height: auto;
	}

	.link-col {
		display: block;
		float: none;
		width: 100%;
	}

	.link-col:last-child {float: none;}

	.link {
		margin: 20px auto;
		padding: 7px 0;
		height: 45px;
		width: 260px;
	}

	footer {
		height: auto;
	}
}

@media screen and (max-width: 370px) {

	header { height: 90px; }

	.slogan { height: 40px;}

	h1 { font-size: 34px; }

	h2 { font-size: 20px; }

	.link {
		margin: 5px auto;
		padding: 5px;
		height: 40px;
	}
}
